/* See: https://github.com/material-components/material-web/blob/main/elevation/internal/_elevation.scss */
@theme {
  --shadow-0: none;
  --shadow-1:
    0 1px 2px oklch(from var(--color-shadow) l c h / 0.3), 0 1px 3px 1px
    oklch(from var(--color-shadow) l c h / 0.15);
  --shadow-2:
    0 1px 2px oklch(from var(--color-shadow) l c h / 0.3), 0 2px 6px 2px
    oklch(from var(--color-shadow) l c h / 0.15);
  --shadow-3:
    0 1px 3px oklch(from var(--color-shadow) l c h / 0.3), 0 4px 8px 3px
    oklch(from var(--color-shadow) l c h / 0.15);
  --shadow-4:
    0 2px 3px oklch(from var(--color-shadow) l c h / 0.3), 0 6px 10px 4px
    oklch(from var(--color-shadow) l c h / 0.15);
  --shadow-5:
    0 4px 4px oklch(from var(--color-shadow) l c h / 0.3), 0 8px 12px 6px
    oklch(from var(--color-shadow) l c h / 0.15);
}
