.markdown {
  @apply text-body-large;
  width: 100%;
  min-width: 20rem;
}

/*============================================================================
=                             Markdown Headings                              =
============================================================================*/
.markdown :where(h1):not(:where(.not-markdown, .not-markdown *)) {
  @apply text-display-small-emphasized;
  margin-bottom: 1.5rem;
}

.markdown :where(h2):not(:where(.not-markdown, .not-markdown *)) {
  @apply text-headline-large-emphasized;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.markdown :where(h3):not(:where(.not-markdown, .not-markdown *)) {
  @apply text-headline-medium-emphasized;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.markdown :where(h4):not(:where(.not-markdown, .not-markdown *)) {
  @apply text-headline-small-emphasized;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.markdown
  :where(h1 + *, h2 + *, h3 + *, h4 + *):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  margin-top: 0;
}

/*============================================================================
=                            Markdown Paragraphs                             =
============================================================================*/
.markdown :where(p):not(:where(.not-markdown, .not-markdown *)) {
  margin: 1rem 0;
}

/*============================================================================
=                           Markdown Styling Text                            =
============================================================================*/
.markdown :where(b, strong):not(:where(.not-markdown, .not-markdown *)) {
  font-weight: 700;
}

.markdown :where(sub, sup):not(:where(.not-markdown, .not-markdown *)) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown :where(sub):not(:where(.not-markdown, .not-markdown *)) {
  bottom: -0.25rem;
}

.markdown :where(sup):not(:where(.not-markdown, .not-markdown *)) {
  top: -0.5rem;
}

/*============================================================================
=                            Markdown Blockquotes                            =
============================================================================*/
.markdown :where(blockquote):not(:where(.not-markdown, .not-markdown *)) {
  @apply text-on-surface-variant;
  border-left: 3px solid;
  @apply border-outline-variant;
  padding: 1.5rem;
  margin: 2rem 0;
}

.markdown
  :where(blockquote > :first-child):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  margin-top: 0;
}

.markdown
  :where(blockquote > :last-child):not(:where(.not-markdown, .not-markdown *)) {
  margin-bottom: 0;
}

/*============================================================================
=                               Markdown Lists                               =
============================================================================*/
.markdown :where(ul, ol):not(:where(.not-markdown, .not-markdown *)) {
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.markdown
  :where(ul ul, ul ol, ol ol, ol ul):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  margin: 0;
}

.markdown :where(ol):not(:where(.not-markdown, .not-markdown *)) {
  list-style-type: decimal;
}

.markdown :where(ol ol, ul ol):not(:where(.not-markdown, .not-markdown *)) {
  list-style-type: lower-roman;
}

.markdown
  :where(ul ul ol, ul ol ol, ol ul ol, ol ol ol):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  list-style-type: lower-alpha;
}

.markdown :where(ul):not(:where(.not-markdown, .not-markdown *)) {
  list-style-type: disc;
}

.markdown :where(ul ul):not(:where(.not-markdown, .not-markdown *)) {
  list-style-type: circle;
}

.markdown :where(ul ul ul):not(:where(.not-markdown, .not-markdown *)) {
  list-style-type: square;
}

/*============================================================================
=                            Markdown Task Lists                             =
============================================================================*/
.markdown
:where(.contains-task-list):not(:where(.not-markdown, .not-markdown *)) {
  list-style-type: none;
}

.markdown :where(.task-list-item):not(:where(.not-markdown, .not-markdown *)) {
  position: relative;
}

.markdown
  :where(.task-list-item > input[type="checkbox"]:disabled):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1.5px solid;
  @apply border-outline;
  border-radius: 4px;
  position: absolute;
  left: -1.25rem;
  top: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.markdown
  :where(.task-list-item > input[type="checkbox"]:disabled:checked):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply border-success;
  @apply bg-success;
  background-image: url('data:image/svg+xml,<svg version="1.1" baseProfile="tiny" id="Layer_1" width="800px" height="800px" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg"><defs></defs><path d="M 38.525 7.876 L 36.127 5.946 C 34.945 4.996 34.258 5.007 33.246 6.257 L 15.817 27.766 L 7.706 21.027 C 6.587 20.087 5.887 20.137 4.967 21.287 L 3.116 23.697 C 2.177 24.879 2.297 25.55 3.407 26.477 L 14.967 36.039 C 16.157 37.039 16.827 36.936 17.747 35.817 L 38.826 10.756 C 39.816 9.566 39.756 8.855 38.525 7.876 Z" style="fill: rgb(255, 255, 255);"></path></svg>');
}

/*============================================================================
=                               Markdown Links                               =
============================================================================*/
.markdown
:where(a):not(:where(h1, h2, h3, h4, h5, h6) a):not(
  :where(.not-markdown, .not-markdown *)
) {
  @apply text-info;
  text-decoration-line: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: auto;
}

.markdown
  :where(a:visited):not(:where(h1, h2, h3, h4, h5, h6) a):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply text-success;
}

.markdown
  :where(a:hover, a:focus, a:active):not(:where(h1, h2, h3, h4, h5, h6) a):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply text-info;
  text-decoration-thickness: 2px;
}

/*============================================================================
=                              Markdown Images                               =
============================================================================*/
.markdown :where(img):not(:where(.not-markdown, .not-markdown *)) {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

/*============================================================================
=                               Markdown Code                                =
============================================================================*/
/* Inline Code */
.markdown
:where(code):not(:where(pre code)):not(:where(.not-markdown, .not-markdown *)) {
  @apply font-mono;
  @apply text-body-medium;
  @apply bg-surface-container;
  @apply text-on-surface;
  border-radius: 4px;
  padding: 0 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Code Blocks */
.markdown :where(pre):not(:where(.not-markdown, .not-markdown *)) {
  @apply font-mono;
  @apply text-body-medium;
  @apply bg-surface-variant;
  border-radius: 4px;
  padding: 1.5rem;
  margin: 1.5rem 0;
  overflow: auto;
  position: relative;
}

/*============================================================================
=                         Markdown Horizontal Rules                          =
============================================================================*/
.markdown :where(hr):not(:where(.not-markdown, .not-markdown *)) {
  height: 0.2rem;
  @apply bg-outline-variant;
  border: 0;
  margin: 1.5rem 0;
  overflow: hidden;
}

/*============================================================================
=                               Markdown Table                               =
============================================================================*/
.markdown :where(table):not(:where(.not-markdown, .not-markdown *)) {
  display: block;
  width: max-content;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5rem 0;
  overflow: auto;
  font-variant-numeric: tabular-nums;
}

.markdown :where(table th):not(:where(.not-markdown, .not-markdown *)) {
  font-weight: 700;
}

.markdown
  :where(table th, table td):not(:where(.not-markdown, .not-markdown *)) {
  border: 1px solid;
  @apply border-outline;
  padding: 16px;
}

.markdown :where(table img):not(:where(.not-markdown, .not-markdown *)) {
  background-color: transparent;
}

/*============================================================================
=                               Markdown Math                                =
============================================================================*/
.markdown :where(.katex-display):not(:where(.not-markdown, .not-markdown *)) {
  padding: 1.5rem 0;
  /* biome-ignore lint/complexity/noImportantStyles: need this to override katex.min.css margin style */
  margin: 1.5rem 0 !important;
  overflow: auto hidden;
}

/*============================================================================
=             Markdown Github-style Footnotes (doesn't need css)             =
============================================================================*/

/*============================================================================
=                        Markdown Github-style Alerts                        =
============================================================================*/
.markdown :where(.markdown-alert):not(:where(.not-markdown, .not-markdown *)) {
  border-left: 3px solid;
  @apply border-outline-variant;
  padding: 1.5rem;
  margin: 2rem 0;
}

.markdown
  :where(.markdown-alert > :first-child):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  margin-top: 0;
}

.markdown
  :where(.markdown-alert > :last-child):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  margin-bottom: 0;
}

.markdown
  :where(.markdown-alert .octicon):not(:where(.not-markdown, .not-markdown *)) {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: currentColor;
  stroke: none;
  margin-right: 0.5rem;
}

.markdown
  :where(.markdown-alert .markdown-alert-title):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  display: flex;
  align-items: center;
  @apply text-title-medium-emphasized;
}

.markdown
  :where(.markdown-alert.markdown-alert-note):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply border-l-info;
  @apply bg-info-container;
  @apply text-on-info-container;
}

.markdown
  :where(.markdown-alert.markdown-alert-note .markdown-alert-title):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply text-info;
}

.markdown
  :where(.markdown-alert.markdown-alert-tip):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply border-l-success;
  @apply bg-success-container;
  @apply text-on-success-container;
}

.markdown
  :where(.markdown-alert.markdown-alert-tip .markdown-alert-title):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply text-success;
}

.markdown
  :where(.markdown-alert.markdown-alert-important):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply border-l-important;
  @apply bg-important-container;
  @apply text-on-important-container;
}

.markdown
  :where(.markdown-alert.markdown-alert-important .markdown-alert-title):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply text-important;
}

.markdown
  :where(.markdown-alert.markdown-alert-warning):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply border-l-warning;
  @apply bg-warning-container;
  @apply text-on-warning-container;
}

.markdown
  :where(.markdown-alert.markdown-alert-warning .markdown-alert-title):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply text-warning;
}

.markdown
  :where(.markdown-alert.markdown-alert-caution):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply border-l-error;
  @apply bg-error-container;
  @apply text-on-error-container;
}

.markdown
  :where(.markdown-alert.markdown-alert-caution .markdown-alert-title):not(
    :where(.not-markdown, .not-markdown *)
  ) {
  @apply text-error;
}

/*============================================================================
=                        Markdown Collapsed Sections                         =
============================================================================*/
.markdown :where(details):not(:where(.not-markdown, .not-markdown *)) {
  border: 1px solid;
  @apply border-outline;
  border-radius: 8px;
  padding: 0.5rem 0.5rem 0;
  margin-bottom: 1rem;
}

.markdown :where(details summary):not(:where(.not-markdown, .not-markdown *)) {
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem;
  margin: -0.5rem -0.5rem 0;
}

.markdown :where(details[open]):not(:where(.not-markdown, .not-markdown *)) {
  padding: 0.5rem;
}

.markdown
  :where(details[open] summary):not(:where(.not-markdown, .not-markdown *)) {
  border-bottom: 1px solid;
  @apply border-outline;
  margin-bottom: 0.5rem;
}

/*============================================================================
=                                Markdown kbd                                =
============================================================================*/
.markdown :where(kbd):not(:where(.not-markdown, .not-markdown *)) {
  @apply font-mono;
  @apply text-body-small;
  @apply bg-surface-container;
  @apply text-on-surface;
  border: 1px solid;
  @apply border-outline-variant;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0;
  @apply shadow-outline-variant;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 4.5px;
  padding-bottom: 2px;
  margin: 0 1px;
  white-space: nowrap;
}
